/* Form section */
.form-section {
    height: 600px;
}

/* Submit button */
.submit-btn {
    color: #000;
    text-transform: uppercase;
}

/* Media queries */
@media (max-width: 600px) {
    .form-section {
        height: 450px;
    }
}